@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-overlay {
  background: linear-gradient(180deg, rgba(18, 18, 20, 0.68), transparent);
}

.scroll-header {
  background-color: rgba(18, 18, 20, 0.8);
}

.user-select {
  border-width: 2px;
  border-style: solid;
  border-color: #fb3a1a;
}

.tag-free,
.tag-member {
  border-radius: 0 12px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.15);
}

.tag-sale {
  border-radius: 0 12px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.15);
}

.tag-free {
  background: linear-gradient(270deg, #029568, #2ae1a0);
}

.tag-member {
  background: linear-gradient(270deg, #fb3a1a, #ebb004);
}

.tag-sale {
  background: linear-gradient(270deg, #eb0076, #fb65cf);
}

.label-rank {
  z-index: 10;
  font-size: 155px;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(
    180deg,
    #fff 16.82%,
    hsla(0, 0%, 100%, 0.06) 96.58%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.6px #fff;
}

.bg-rank-default,
.bg-rank-1,
.bg-rank-2,
.bg-rank-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 160px;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.bg-rank-1 {
  background: linear-gradient(
    180deg,
    rgba(255, 55, 95, 0),
    rgba(255, 55, 95, 0.66)
  );
}

.bg-rank-2 {
  background: linear-gradient(
    180deg,
    rgba(109, 174, 67, 0),
    rgba(109, 174, 67, 0.66)
  );
}

.bg-rank-3 {
  background: linear-gradient(
    180deg,
    rgba(255, 204, 0, 0),
    rgba(255, 204, 0, 0.66)
  );
}

.zoom-out:hover img {
  transform: scale(1.1);
}

.zoom-out img {
  transform-origin: 50% 100%;
  transition: transform 2s, filter 1s ease-in-out;
}

/* Override */
.slick-dots {
  position: absolute !important;
  right: 50px !important;
  bottom: 30px !important;
  display: inline-flex !important;
  width: unset !important;
  z-index: 11;
}

.slick-slider .slick-track {
  margin-left: 0;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.2;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

/*  */
.menu-item::after {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-20%);
  height: 20px;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}

.menu-item:hover .sub-menu {
  display: unset;
}

.sub-menu {
  top: calc(100% + 10px);
  max-height: 66vh;
  animation: subMenuAnimation 0.3s linear;
}

.sub-menu:last-child {
  left: -20px;
}

@keyframes subMenuAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.see-more-modal {
  z-index: 11 !important;
}

.slider-bottom-overlay {
  background: linear-gradient(180deg, rgba(18, 18, 20, 0), #121214) !important;
}

.slider-wrapper:hover .slider-arrow-left,
.slider-wrapper:hover .slider-arrow-right {
  display: flex !important;
}

.slider-arrow-left,
.slider-arrow-right {
  display: none;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  z-index: 9;
}

.slider-arrow-left:hover,
.slider-arrow-right:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--White-overlay, hsla(0, 0%, 100%, 0.1));
}

.hide {
  display: none;
}

.container-block {
  padding-left: 48px;
  margin-top: 60px;
}

.book-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.39) 0%,
    rgba(0, 0, 0, 0.5) 1.83%,
    rgba(255, 255, 255, 0.36) 3.21%,
    rgba(0, 0, 0, 0.33) 4.72%,
    rgba(247, 254, 255, 0.28) 9.84%,
    rgba(255, 255, 255, 0) 47.85%
  );
}

.book-item-arrow-left,
.book-item-arrow-right {
  position: absolute;
  top: 50%;
  display: none;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  z-index: 9;
}

.book-item-arrow-left {
  left: 0;
  transform: translate(-50%, -100%);
}

.book-item-arrow-right {
  right: 0;
  transform: translate(-50%, -100%);
}

.book-wrapper:hover .book-item-arrow-left,
.book-wrapper:hover .book-item-arrow-right {
  display: flex;
}

.book-item-arrow-left:hover,
.book-item-arrow-right:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--White-overlay, hsla(0, 0%, 100%, 0.1));
}

.book-item-modal {
  display: none;
  box-shadow: 0px 8px 32px 0px hsla(0, 0%, 0%, 0.5);
  background-color: rgba(18, 18, 20, 0.8);
  backdrop-filter: blur(20px);
  animation: bookItemModalAnimation 0.3s linear;
}

.book-item-wrapper:hover .book-item-modal {
  display: flex;
}

@keyframes bookItemModalAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.podcast-item-hover {
  display: none;
  backdrop-filter: blur(20px);
}

.podcast-item-wrapper:hover .podcast-item-hover {
  display: flex;
}
